.all-doc{
    /* border: 2px solid rgb(245, 9, 9); */
    margin: 11px;
    padding: 7px;
}
.doc-title{
    margin: auto auto;
    justify-content: center;
    display: flex;
}
.doc-title h1{
    color: #1f6096bb;
    font-size: 2.3rem;
    font-weight: bold;
    border-bottom: 2px solid black;
}
.doc-1 {
    margin: 11px;
}

.doc-1 h2{
    color: #1f6096bb;
    font-size: 2.3rem;
    margin: 11px;
    padding: 7px;
    border-left: 2px solid #369ff4;
}
.doc-image img{
    margin: 11px;
padding: 7px;
box-shadow: 4px 3px 11px black;
object-fit: cover;
}
nav .logo h1 a{
    color: white;
    text-decoration: none;
}   
