*{
    margin: 0;
    padding: 0;
    color: #f2f5f7;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
    font-family: 'Dancing Script', cursive;
}


body{
    overflow-x: hidden;
}
nav{
    height: 6rem;
    width: 100%;
    background-color: #1314182e;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    position: fixed;
    z-index: 10;
}

/*Styling logo*/
.logo{
    padding:1vh 1vw;
    text-align: center;
}
.logo img {
    height: 3rem;
    width: 5rem;
}

/*Styling Links*/
.nav-links{
    display: flex;
    list-style: none; 
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
}
.nav-links li a{
    text-decoration: none;
    margin: 0 0.7vw;
}
.nav-links li a:hover {
    color: #61DAFB;
}
.nav-links li {
    position: relative;
}

.nav-links li a:hover::before{
    width: 80%;
}

/*Styling Buttons*/

.join-button{
    color: #131418;
    background-color: #61DAFB;
    border: 1.5px solid #61DAFB;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    cursor: pointer;
}
.join-button:hover {
    color: #f2f5f7;
    background-color: transparent;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}

/*Styling Hamburger Icon*/
.hamburger div{
    width: 30px;
    height:3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
}
.hamburger{
    display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 800px){
    nav{
        position: fixed;
        z-index: 3;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links{
        position: fixed;
        background: #131418;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade{
        opacity: 1;
    }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    transition: all 0.7s ease;
    width:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

div {
 
  padding: 5px;
}

.img2 {
  float: right;
}

.clearfix {
  overflow: auto;
  font-size: 125%;
}
.img4 {
  float: left;
  width: 650px;
  height: 300px;
  margin-right: 20px;
}

@media only screen and (max-width: 700px) {
.img4{
  width: 600px;
}
}

@media only screen and (max-width: 650px) {
.img4{
  width: 550px;
}
}

@media only screen and (max-width: 550px) {
.img4{
  width: 450px;
}
}

@media only screen and (max-width: 480px) {
.img4{
  width: 400px;
}
}

@media only screen and (max-width: 450px) {
.img4{
  width: 350px;
}
}

@media only screen and (max-width: 400px) {
.img4{
  width: 300px;
}
}

@media only screen and (max-width: 350px) {
.img4{
  width: 300px;
}
}

body{
  background-image: url("../image/stone.jpg");
}

.column {
  float: left;
  width: 20%;
  padding: 10px;
  height: 150px; /* Should be removed. Only for demonstration */
}




.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #070617;
}
.footer .col {
  width: 300px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
  margin-top: 30px;
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: rgba(255,255,255,0.2);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: #999999;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  color: #ffffff;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}
.clearfix {
  clear: both;
}
@media only screen and (min-width: 1280px) {
  .row{
    margin-bottom: 50px;
  }
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .row{
    margin-bottom: 50px;
  }
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .row{
    margin-bottom: 200px;
  }
  .footer .col {
    width: 100%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
  .row{
    margin-bottom: 300px;
  }  

    .footer .col {
      width: 100%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
}
@media only screen and (max-width: 480px) {
  .row{
    margin-bottom: 300px;
  }
  .footer .col {
    width: 100%;
  }
}

@media only screen and (max-width: 450px) {
  .row{
    margin-bottom: 320px;
  }




/*.container {
    position: absolute;
    width: 50%;
    padding: 10px;
    height: 50px; /* Should be removed. Only for demonstration */
  }*/
@media only screen and (max-width: 450px) {
.about2{
  margin-top: 1200px;
}
}

@media only screen and (max-width: 445px) {
.about2{
  margin-top: 500px;
}
}

@media only screen and (max-width: 380px) {
.about2{
  margin-top: 500px;
}
}


.about{
  margin-top: 100px;
  text-align: center;
}






 /* body {

  font-family:        ‘Lato’, Arial, sans-serif; 
  margin:             2vw;
  
}






 

  body {

  font-family:        ‘Lato’, Arial, sans-serif; 
  margin:             2vw;
  
}

h3 {
  color:              #545454;
  font-size:          1.9vw;
  font-weight:        400;
  text-transform:     uppercase;
  line-height:        .3vw;
  text-align: center;
  }

  p {
  color:              #545454;
  font-size:          2vh;
}*/