<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Work</title>
    <link rel="stylesheet" type="text/css" href="./css/ourwork.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
</head>
   

    <!-- nav -->
    <!-- nav -->
  <body >
 <nav style="top: 0px;height: 63px;">
        <div class="logo">
            <img src="image/logo.png" alt="Logo Image">
        </div>
        <div class="hamburger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="/ourwork">Our Works</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/services">Services</a></li>
          
          <li><a class="join-button" href="/contact">Call Now</a></li>
        </ul>
    </nav>
         

<h1 class="gal">Flower Shop Image Gallery</h1><hr>
<div id="gallery" class="container-fluid">  
  <img src="https://cdn.pixabay.com/photo/2015/04/19/08/33/flower-729512__340.jpg" class="card img-responsive">
  <img src="https://cdn.pixabay.com/photo/2013/07/21/13/00/rose-165819__340.jpg" class="card img-responsive">
   <img src="https://i.pinimg.com/originals/98/cd/d6/98cdd65af2894e02278eb7e4de2685ce.jpg" class="card img-responsive">
  <img src="https://c.files.bbci.co.uk/957C/production/_111686283_pic1.png" class="card img-responsive">
  <img src="https://www.tentaran.com/wp-content/uploads/2020/03/flowers-images1.jpg" class="card img-responsive">
<img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/gettyimages-182880589-1493334765.jpg?crop=1.00xw:0.773xh;0,0.121xh&resize=1200:*" class="card img-responsive">
  <img src="https://i.insider.com/5cfa719011e20533711dbe13?width=1100&format=jpeg&auto=webp" class="card img-responsive">
  <img src="https://cdn.britannica.com/45/5645-050-B9EC0205/head-treasure-flower-disk-flowers-inflorescence-ray.jpg" class="card img-responsive">
  <img src="https://hgtvhome.sndimg.com/content/dam/images/hgtv/stock/2018/2/8/0/Shutterstock_73167883_White-Flowers_Clematis.jpg.rend.hgtvcom.966.725.suffix/1518116872774.jpeg" class="card img-responsive">
  <img src="https://www.gardendesign.com/pictures/images/675x529Max/site_3/tagetes-erecta-moonstruck-yellow-marigold-flower-shutterstock-com_12712.jpg" class="card img-responsive">
  <img src="https://cdn.shopify.com/s/files/1/1252/1803/files/Anniversary_5bcb9521-96d7-41c1-8040-432f8562d09e_2000x.jpg?v=1604914851" class="card img-responsive">
<img src="https://miro.medium.com/max/2000/1*6mvEc4Z4erKbsywbhmxY-g.png" class="card img-responsive">
<img src="https://d3cif2hu95s88v.cloudfront.net/blog/wp-content/uploads/2020/04/20124423/Online-Flowers-Delivery-MyFlowerTree.jpg" class="card img-responsive">
<img src="https://imagesvc.meredithcorp.io/v3/mm/image?q=85&c=sc&poi=%5B572%2C1083%5D&w=1245&h=623&url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F37%2F2020%2F03%2Fblanket-flower-gaillardia-perennial-0475dff8.jpg" class="card img-responsive">


</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
      </div>
    </div>

  </div>
</div>



<!-- FOOTER START -->
<section>
<div class="footer">
  <div class="contain">
  <div class="col">
    <!-- <h1>Pages</h1> -->
    <ul>
      <a href="/about"> <li>About</li></a>
     <a href="/ourwork"> <li>Our Works</li></a>
    <a href="/about"> <li>Social</li></a> 
    <a href="/contact">  <li>Get in touch</li></a>
    </ul>
  </div>

  
  <div class="col">
    <h1 style="color: #f0f0f0">Support</h1>
    <ul>
      <p style="color: #f0f0f0">Sardapally (Phansidewa More),</p>
      <p style="color: #f0f0f0"> opp. St. Joseph more,</p>
      <p style="color: #f0f0f0"> P.O Kadamtala, Siliguri,</p>
      <p style="color: #f0f0f0"> P.S. Matigara, Dist: Darjeeling,</p>
      <p style="color: #f0f0f0"> PIN: 734011, W.B</p>

      <p style="color: #f0f0f0">Telephone : +91 869 551 0051</p>

        <p style="color: #f0f0f0">Telephone : +91 973 334 7999</p>

          <p style="color: #f0f0f0">E-mail : bws@bluewebsurfer.com</p>
    </ul>
  </div>
  <div class="col social" style="width: 350px; padding-left: 200px;">
    <h1>Social</h1>
    <ul>
      <li><img src="image/gmail2.png" style="width: 32px;"></li>
      <li><img src="image/facebook2.png" style="width: 32px;"></li>
      <li><img src="image/insta.png" style="width: 32px;"></li>
    </ul>
  </div>
<div class="clearfix"></div>
</div>
</div>
</section>
<!-- END OF FOOTER -->

<script>const hamburger = document.querySelector(".hamburger");
const navLinks = document.querySelector(".nav-links");
const links = document.querySelectorAll(".nav-links li");

hamburger.addEventListener('click', ()=>{
   //Animate Links
    navLinks.classList.toggle("open");
    links.forEach(link => {
        link.classList.toggle("fade");
    });

    //Hamburger Animation
    hamburger.classList.toggle("toggle");
});
</script>




<script>$(document).ready(function(){
  $("img").click(function(){
  var t = $(this).attr("src");
  $(".modal-body").html("<img src='"+t+"' class='modal-img'>");
  $("#myModal").modal();
});

$("video").click(function(){
  var v = $("video > source");
  var t = v.attr("src");
  $(".modal-body").html("<video class='model-vid' controls><source src='"+t+"' type='video/mp4'></source></video>");
  $("#myModal").modal();  
});
});//EOF Document.ready
</script>


  </body>
</html>