<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" type="text/css" href="./css/cervices.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
</head>
   

    <!-- nav -->
    <!-- nav -->
  <body>
    <nav style="top: 0px;height: 63px;">
        <div class="logo">
            <img src="image/logo.png" alt="Logo Image">
        </div>
        <div class="hamburger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="/ourwork">Our Works</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/services">Services</a></li>
          
          <li><a class="join-button" href="/contact">Call Now</a></li>
        </ul>
    </nav>
          <!-- column -->
          <!-- <section>
          <div style="height: 80px;"><h2 class="services">Services</h2>
          <hr class="w-25 mx-auto pt-5" style=" width: 190px; display: block; margin-right: auto;margin-left: auto;">
          <br>
          </div>    
          </section> -->
         

<section style="margin-bottom: 130px;">
<div class="clearfix" style="padding-top: 50px; padding-left: 25px; padding-right: 25px;margin-top: 80px;">
  <img class="img2" src="image/car.jpg" alt="Pineapple"/>
  <h2 class="ser1"><u>Services</u></h2>
  <p style="color: #131418">As the saying goes “no one has become poor by giving”. We believe in as much as in giving back to our society in every possible ways.  In order to acquire thriving community individual needs to come together. There are so many underprivileged children and impoverished family in India. One cannot go to all places to eliminate the problems but by helping within our own community by providing them the basic needs of life like food, clothes, shelters, education and medical assistance to needy.
</p>
</div>
</section>

<section style="margin-bottom: 100px;">
<div class="clearfix" style="padding-top: 25px; padding-left: 25px; padding-right: 25px;">
  <img class="img4" src="image/wedding.jpg" alt="Pineapple"/>
  <h2 class="ser2"><u>Services</u></h2>
  <p style="color: #131418">As the saying goes “no one has become poor by giving”. We believe in as much as in giving back to our society in every possible ways.  In order to acquire thriving community individual needs to come together. There are so many underprivileged children and impoverished family in India. One cannot go to all places to eliminate the problems but by helping within our own community by providing them the basic needs of life like food, clothes, shelters, education and medical assistance to needy.
  </p>
</div>
</section>



<section style="margin-bottom: 100px;">
<div class="clearfix" style="padding-top: 25px; padding-left: 25px; padding-right: 25px;">
  <img class="img2" src="image/gate.jpeg" alt="Pineapple"/>
  <h2 class="ser3"><u>Services</u></h2>
  <p style="color: #131418">As the saying goes “no one has become poor by giving”. We believe in as much as in giving back to our society in every possible ways.  In order to acquire thriving community individual needs to come together. There are so many underprivileged children and impoverished family in India. One cannot go to all places to eliminate the problems but by helping within our own community by providing them the basic needs of life like food, clothes, shelters, education and medical assistance to needy.
</p>
</div>
</section>


<section style="margin-bottom: 100px;">
<div class="clearfix" style="padding-top: 25px; padding-left: 25px; padding-right: 25px;">
  <img class="img4" src="image/bed.jpg" alt="Pineapple"/>
  <h2 class="ser4"><u>Services</u></h2>
  <p style="color: #131418">As the saying goes “no one has become poor by giving”. We believe in as much as in giving back to our society in every possible ways.  In order to acquire thriving community individual needs to come together. There are so many underprivileged children and impoverished family in India. One cannot go to all places to eliminate the problems but by helping within our own community by providing them the basic needs of life like food, clothes, shelters, education and medical assistance to needy.
  </p>
</div>
</section>






<!-- FOOTER START -->
<section>
<div class="footer">
  <div class="contain">
  <div class="col">
    <!-- <h1>Pages</h1> -->
    <ul>
     <a href="/about"> <li>About</li></a>
     <a href="/ourwork"> <li>Our Works</li></a>
    <a href="/about"> <li>Social</li></a> 
    <a href="/contact">  <li>Get in touch</li></a>
    </ul>
  </div>

  
  <div class="col">
    <h1 style="color: #f0f0f0">Support</h1>
    <ul>
      <p style="color: #f0f0f0">Sardapally (Phansidewa More),</p>
      <p style="color: #f0f0f0"> opp. St. Joseph more,</p>
      <p style="color: #f0f0f0"> P.O Kadamtala, Siliguri,</p>
      <p style="color: #f0f0f0"> P.S. Matigara, Dist: Darjeeling,</p>
      <p style="color: #f0f0f0"> PIN: 734011, W.B</p>

      <p style="color: #f0f0f0">Telephone : +91 869 551 0051</p>

        <p style="color: #f0f0f0">Telephone : +91 973 334 7999</p>

          <p style="color: #f0f0f0">E-mail : bws@bluewebsurfer.com</p>
    </ul>
  </div>
  <div class="col social" style="width: 350px; padding-left: 200px;">
    <h1>Social</h1>
    <ul>
      <li><img src="image/gmail2.png" style="width: 32px;"></li>
      <li><img src="image/facebook2.png" style="width: 32px;"></li>
      <li><img src="image/insta.png" style="width: 32px;"></li>
    </ul>
  </div>
<div class="clearfix"></div>
</div>
</div>
</section>
<!-- END OF FOOTER -->

<script>const hamburger = document.querySelector(".hamburger");
const navLinks = document.querySelector(".nav-links");
const links = document.querySelectorAll(".nav-links li");

hamburger.addEventListener('click', ()=>{
   //Animate Links
    navLinks.classList.toggle("open");
    links.forEach(link => {
        link.classList.toggle("fade");
    });

    //Hamburger Animation
    hamburger.classList.toggle("toggle");
});
</script>
  </body>
</html>