<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/aboutus.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    
<link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Merienda&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    

  <div class="container">
          
    <!-- <img class="parent-img" src="https://blog.woodenstreet.com/images/data/image_upload/1579326941Banner%20Image.jpg" alt="Snow"> -->
  
      <img src="https://interiorsquadbd.com/wp-content/uploads/2020/11/interior-designer-pune-banner.jpg" alt="Nature" class="respon" width="600" height="400">
    <div class="centered"><h1>Gold Space Interior</h1></div>
      <div class="bottom-right">
        <div class="topnavigation" id="myTopnav">
          <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
          </a>
          <a href="/">Home</a>
          <a href="/services">Service</a>
          <a href="/Ourworks">Our Works</a>
          
          <a href="/About">About Us</a>
          <a href="/Contactus">Contact Us</a>
               
        </div>
      </div> 
    </div>


      <!-- body -->

      <h5>About us</h5>

<h2></h2>
<p>Established in the year of 2010, Gold Space Interior has become prominent in Varanasi. Running the business for 11 long years we 
  specialized in various fields of interior decorations such as wallpapers, wall panel, wooden flooring, false ceiling etc.
   We never fail to satisfy our clients and our aim is to see through very minute details so we can meet the client’s need. 
   Through the use of modern technology we are assuring you excellent workmanship from start to completion of the project.</p>

       <p>Here at Gold Space Interior we pursue finesse so our clients don’t have to, our premier architects work tirelessly 
         to find the best design that fit well with the home that you had always dreamed about. We make magic with visual mechanics 
         that radiate through your home. Our reputation that every client holds is a representation of our tireless work that we put up so our
         client can find satisfaction through residential comfort that stay strong throughout the test of time. </p>
<br>
         <p>OUR INFRASTRUCTURE: We have skilled and experienced workmen who have years of experience in the same field and are capable
            to provide you with all the projects within a time period. They are equipped with modern tools which adds great value to the work.   </p>

<p> When we have a client to design the space, we start from the ground level with every detail and work with precision to the final result.
   As we are the most reliable Interior in our locality we make sure that every client gets what they need. Client’s satisfaction is our top most 
   priority. </p>



      <div class="footer">
        <div class="inner-footer">
      
      <!--  for company name and description -->
          <!-- <div class="footer-items">
            <h1>Company Name</h1>
            <p>Description of any product or motto of the company.</p>
          </div> -->
      
      <!--  for quick links  -->
          <div class="footer-items">
            <h6>Quick Links</h6>
            <div class="border1"></div> <!--for the underline -->
            <ul>
              <a href="/"><li>Home</li></a>
              <a href="/services"><li>Service</li></a>
              <a href="/Ourworks"><li>Our Works</li></a>
            </ul>
          </div>
      
      <!--  for some other links -->
          <div class="footer-items">
            <h6>Details</h6>
              <div class="border1"></div>  <!--for the underline -->
                <ul>
                  <a href="Contactus"><li>Contact Us</li></a>
                  <a href="/About"><li>About</li></a>
                </ul>
          </div>
      
      <!--  for contact us info -->
          <div class="footer-items">
            <h6>Contact us</h6>
            <div class="border1"></div>
              <ul>
                <li><i class="fa fa-map-marker" aria-hidden="true"></i>Shivpur Bypass Road, Varanasi,Uttar Pradesh</li>
                  <li><i class="fa fa-phone" aria-hidden="true"></i>+91 8736947304</li>
                  <li><i class="fa fa-envelope" aria-hidden="true"></i>mohit6151@gmail.com</li>
              </ul> 
            
      <!--   for social links -->
              <div class="social-media">
                <a href="#"><i class="fa fa-facebook-f"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </div> 
          </div>
        </div>
        
      <!--   Footer Bottom start  -->
        <div class="footer-bottom">
          © 2021 Designed & Developed by <a href="https://www.bluewebsurfer.com">Blueweb Surfer</a> . All rights reserved.
        </div>
      </div>
</body>

<script src="js/home.js"></script>
</html>