<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/commercial.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Merienda&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Document</title>
</head>
<body>
    


    <div class="container">
          
        <!-- <img class="parent-img" src="https://blog.woodenstreet.com/images/data/image_upload/1579326941Banner%20Image.jpg" alt="Snow"> -->
      
          <img src="https://interiorsquadbd.com/wp-content/uploads/2020/11/interior-designer-pune-banner.jpg" alt="Nature" class="respon" width="600" height="400">
        <div class="centered"><h1>Gold Space Interior</h1></div>
          <div class="bottom-right">
            <div class="topnavigation" id="myTopnav">
              <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa fa-bars"></i>
              </a>
              <a href="/">Home</a>
          <a href="/services">Service</a>
          <a href="/Ourworks">Our Works</a>
          
          <a href="/About">About Us</a>
          <a href="/Contactus">Contact Us</a>
                   
            </div>
          </div> 
        </div>
    
    
    
      <!-- body -->
      <h2>Commercial Design</h2>
      <div class="clearfix">
       
        <img class="img2" src="https://www.customwallpaper.net.au/wp-content/uploads/2015/10/07_landsacpe_600x350.jpg" alt="Pineapple" width="170" height="170">
     
      <h3>
        Wall Paper
      </h3>
      <p>Wall colors and textures are the most important aspects of the home décor. 
          The reason wallpapers has staying in power is because it can last decades, and great news for the client who do not want to change the
          décor anytime soon. Gold Space Interior deals with variety of wallpapers from designer wallpapers, vinyl wallpapers to imported and handmade
          wallpapers.
      </p>
    </div>
    <br>
    <div class="clearfix">
  
     
        <img class="img2" src="https://images.squarespace-cdn.com/content/v1/52e94ad1e4b07eea5a839eab/1467388922388-G04S4ZXQH28YEZLXLJ8R/ke17ZwdGBToddI8pDm48kPoswlzjSVMM-SxOp7CV59BZw-zPPgdn4jUwVcJE1ZvWlAVL0qbjMx_lywF_DnRS0BFo1Rvjzurzh5MeYuGNmosp2ryTI0HqTOaaUohrI8PIqkjCxCG8Utttt2Fryw3xLFwDZhUFdPxuvjgjFEdbvaUKMshLAGzx4R3EDFOm1kBS/curved-acoustic-panels.jpg" alt="Pineapple" width="170" height="170">
     
      <h3>
        Wall Panel
      </h3>
      <p>Wainscoting is a broader term referring to decorative paneling used for centuries as: a) a wall accent; b)
          insulation and; c) to prevent (and cover up) damage to walls. It typically is made of wood, and covers the lower three or
          four feet of an interior wall.
      </p>
    </div>
    <br>
    <div class="clearfix">
    
        <img class="img2" src="https://www.progressiveoffice.com.au/wp-content/uploads/2016/08/industrial-office-fitouts.jpg" alt="Pineapple" width="170" height="170">
     
      <h3>
          Wooden Flooring
      </h3>
      <p>It has become the popular option for homeowner, office, corporate and commercial industry. 
          The beauty of wooden flooring lies in its simplicity and it makes entire room look beautiful and adds a lot of warmth to it.  
      </p>
    </div>
    <br>
    <div class="clearfix">
     
        <img class="img2" src="https://www.gyproc.in/images/gyproc-false-ceiling-drywall-plastering-solutions-for-offices.jpg" alt="Pineapple" width="170" height="170">
     
      <h3>
          False Ceiling ( POP/ Gypsum board/ Metal/ Painting )
      </h3>
      <p>Gone are the days when houses had concrete slab or solid wooden ceiling. Today the false ceiling has become the prominent symbol
          of the modern world. It’s not only the part of decoration but it serves various other functions. It modifies the overall look of
          your ceiling. We deal with various false ceiling designs such as POP (Plaster of Paris), Gypsum board partition, PVC false ceiling,
          Metal false ceiling and Electrical wiring and painting work. 
      </p>
    </div>
    <br>
    <div class="clearfix">
   
        <img class="img2" src="https://www.closetfactory.com/wp-content/uploads/2020/12/web-Men-Modern-Closet-05.jpg" alt="Pineapple" width="170" height="170">
    
      <h3>
        Customized Wardrobe ( Wooden)
      </h3> 
      <p>Basically modular wardrobes are segmented units which are made to order; customized and then assembled to fit to customer's need. 
          Our bedrooms usually have two main furniture, bed and wardrobe.
      </p>
    </div>
    <br>
    <div class="clearfix">
      
        <img class="img2" src="https://images.designtrends.com/wp-content/uploads/2016/01/07094849/Unique-Small-Home-Office-Furniture-Collection.jpg" alt="Pineapple" width="170" height="170">
    
      <h3>
          Furniture
      </h3> 
      <p>There are many reasons for buying furniture, but the most important underlying reason is that it is the backdrop to our lives.
          Our furnishing needs change as our lives go through changes both big and small. We need furniture for more comfortable lives and use 
          it for storage, for sitting on, and for sleeping.
      </p>
    </div>
    
    
    
    
    
    <!-- footer -->
    <div class="footer">
        <div class="inner-footer">
      
    
      
      <!--  for quick links  -->
          <div class="footer-items">
            <h3>Quick Links</h3>
            <div class="border1"></div> <!--for the underline -->
              <ul>
                <a href="/"><li>Home</li></a>
                <a href="/services"><li>Service</li></a>
                <a href="/Ourworks"><li>Our Works</li></a>
              </ul>
            </div>
        
        <!--  for some other links -->
            <div class="footer-items">
              <h6>Details</h6>
                <div class="border1"></div>  <!--for the underline -->
                  <ul>
                    <a href="Contactus"><li>Contact Us</li></a>
                    <a href="/About"><li>About</li></a>
                </ul>
          </div>
      
      <!--  for contact us info -->
          <div class="footer-items">
            <h3>Contact us</h3>
            <div class="border1"></div>
              <ul>
                <li><i class="fa fa-map-marker" aria-hidden="true"></i>Shivpur Bypass Road, Varanasi,Uttar Pradesh</li>
                  <li><i class="fa fa-phone" aria-hidden="true"></i>+91 8736947304</li>
                  <li><i class="fa fa-envelope" aria-hidden="true"></i>mohit6151@gmail.com</li>
              </ul> 
            
      <!--   for social links -->
              <div class="social-media">
                <a href="#"><i class="fa fa-facebook-f"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </div> 
          </div>
        </div>
        
      <!--   Footer Bottom start  -->
        <div class="footer-bottom">
          © 2021 Designed & Developed by <a href="https://www.bluewebsurfer.com">Blueweb Surfer</a> . All rights reserved.
        </div>
      </div>
      <script src="js/home.js"></script>

</body>
</html>