<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/contactus.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Merienda&display=swap" rel="stylesheet">

    <title>Document</title>
</head>
<body>
    


  <div class="container">
          
    <!-- <img class="parent-img" src="https://blog.woodenstreet.com/images/data/image_upload/1579326941Banner%20Image.jpg" alt="Snow"> -->
  
      <img src="https://interiorsquadbd.com/wp-content/uploads/2020/11/interior-designer-pune-banner.jpg" alt="Nature" class="respon" width="600" height="400">
    <div class="centered"><h1>Gold Space Interior</h1></div>
      <div class="bottom-right">
        <div class="topnavigation" id="myTopnav">
          <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
          </a>
          <a href="/">Home</a>
          <a href="/services">Service</a>
          <a href="/Ourworks">Our Works</a>
          
          <a href="/About">About Us</a>
          <a href="/Contactus">Contact Us</a>
               
        </div>
      </div> 
    </div>


      <!-- body -->

      <h2>Our Address</h2>
<div class="row">
  <div class="column" style="background-color:#aaa0;">
   <img src="https://cdn.vox-cdn.com/thumbor/7xzQp-Bue1R84Hsg33s-8HGj3uo=/0x0:3500x2000/1200x675/filters:focal(1470x720:2030x1280)/cdn.vox-cdn.com/uploads/chorus_image/image/65939192/Lead.0.jpg" alt="Nature" class="responsive" width="600" height="400">
  </div>
  <div class="column" style="background-color:#aaa0;">
    <h4>Stay Connact With Us</h4>
    <div class="sec2addr">
                                <p><span class="collig">Phone :</span>Shivpur Bypass Road, Varanasi,Uttar Pradesh</p>
                                <p><span class="collig">Whatsapp no :</span> +91 9415647304, 8543013317</p>
                                <p><span class="collig">Office :</span> +91 8736947304</p>
                                <p><span class="collig">Email :</span> mohit6151@gmail.com</p>
                                
                            </div>
  </div>
</div>

<!-- form -->


<div class="container">
  <h2>Form</h2>
  <form action="/action_page.php">
    <div class="row">
      <div class="col-25">
        <label for="fname">Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="firstname" placeholder="Your name..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="lname">Contact No.</label>
      </div>
      <div class="col-75">
        <input type="text" id="lname" name="lastname" placeholder="Contact No..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="country">Email Id.</label>
      </div>
       <div class="col-75">
        <input type="text" id="lname" name="lastname" placeholder="Email Id..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="subject">Massage</label>
      </div>
      <div class="col-75">
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
      </div>
    </div>
    <div class="row">
      <input type="submit" value="Submit">
    </div>
  </form>
</div>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3605.3531033496583!2d82.95806121488772!3d25.359479731320842!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x398e2cfaa53b91a7%3A0x3654c81a4864f9a3!2sShivpur%20Bypass%20Rd%2C%20Suddhipur%2C%20Uttar%20Pradesh%20221003!5e0!3m2!1sen!2sin!4v1615204979059!5m2!1sen!2sin" width="100%" height="600" style="border:0; " allowfullscreen="" loading="lazy"></iframe>



<div class="footer">
    <div class="inner-footer">
  
  <!--  for company name and description -->
      <!-- <div class="footer-items">
        <h1>Company Name</h1>
        <p>Description of any product or motto of the company.</p>
      </div> -->
  
  <!--  for quick links  -->
      <div class="footer-items">
        <h6>Quick Links</h6>
        <div class="border1"></div> <!--for the underline -->
        <ul>
          <a href="/"><li>Home</li></a>
              <a href="/services"><li>Service</li></a>
              <a href="/Ourworks"><li>Our Works</li></a>
            </ul>
          </div>
      
      <!--  for some other links -->
          <div class="footer-items">
            <h6>Details</h6>
              <div class="border1"></div>  <!--for the underline -->
                <ul>
                  <a href="Contactus"><li>Contact Us</li></a>
                  <a href="/About"><li>About</li></a>
          </ul>
      </div>
  
  <!--  for contact us info -->
      <div class="footer-items">
        <h6>Contact us</h6>
        <div class="border1"></div>
          <ul>
            <li><i class="fa fa-map-marker" aria-hidden="true"></i>Shivpur Bypass Road, Varanasi,Uttar Pradesh</li>
            <li><i class="fa fa-phone" aria-hidden="true"></i>+91 8736947304</li>
            <li><i class="fa fa-envelope" aria-hidden="true"></i>mohit6151@gmail.com</li>
          </ul> 
        
  <!--   for social links -->
          <div class="social-media">
            <a href="#"><i class="fa fa-facebook-f"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
          </div> 
      </div>
    </div>
    
  <!--   Footer Bottom start  -->
    <div class="footer-bottom">
      © 2021 Designed & Developed by <a href="https://www.bluewebsurfer.com">Blueweb Surfer</a> . All rights reserved.
    </div>
  </div>
</body>


<script src="js/home.js"></script>
</html>