<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" href="css/style.css">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap" rel="stylesheet">
     
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Merienda&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
      <title>Gold Space Interior</title>
    </head>
  <body>
    


    <div class="topnav">
      <a href="index.html">Gold Space Interior</a>
      <div class="topnav-right">
        <a href="#search">Ph:+91 8736947304</a>
        <a href="#about">Email Id:mohit6151@gmail.com</a>
      </div>
    </div>
    
      

      <!-- img with buttons -->
    
        <div class="container">
          
          <!-- <img class="parent-img" src="https://blog.woodenstreet.com/images/data/image_upload/1579326941Banner%20Image.jpg" alt="Snow"> -->
        
            <img src="https://interiorsquadbd.com/wp-content/uploads/2020/11/interior-designer-pune-banner.jpg" alt="Nature" class="respon" width="600" height="400">
          <div class="centered"><h1>Gold Space Interior</h1></div>
            <div class="bottom-right">
              <div class="topnavigation" id="myTopnav">
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                      <i class="fa fa-bars"></i>
                </a>
                <a href="/">Home</a>
                <a href="/services">Service</a>
                <a href="/Ourworks">Our Works</a>
                
                <a href="/About">About Us</a>
                <a href="/Contactus">Contact Us</a>
                     
              </div>
            </div> 
          </div>
       

              <!-- <img src="https://interiorsquadbd.com/wp-content/uploads/2020/11/interior-designer-pune-banner.jpg" alt="Nature" class="responsive" width="600" height="400"> -->

        <!-- 1st span -->
        <div id="example1" >
          <div class="row">
            <div class="column" style="background-color:#aaa0;">
              <img src="https://images.livmatrix.com/https://jumanji.livspace-cdn.com/magazine/wp-content/uploads/2019/07/28013211/blog-cover.jpg" alt="Nature" class="responsive" >
              
               <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis culpa sequi obcaecati dolore dignissimos dicta quaerat quam reiciendis mollitia cumque similique cum magni explicabo accusamus, sit nemo facere aliquam sunt.</p> -->
            </div>
            <div class="column" style="background-color:#aaa0;">
              <h2>OVERVIEW</h2>
              <div class="example">The whole world is evolving briskly, so the need of people. Interior Designing is adding up to one’s need.
                 Interior design has become so much popular these days that be it your home or working place or commercial space, everyone wants to
                  create a stress free atmosphere, perfect for living and working. </div>
              
            </div>
          </div>
        </div>


           
           <!-- <br><br><br><br><br><br> -->

           <!-- 2nd span -->
          <!-- <div class="div_exp1" id="div1">
           
          </div> -->
            <!-- </div> -->
            <div class="div_exp1" id="div1">
              <div class="example">Interior designing sometimes is hectic and disasters, if not planned out properly.</div>
                <br>
              <div class="example">In this case Interior designers have the ultimate solution where you can easily plan out your project weather a 
                new one or remodeling your space and can make your home/commercial/work space astounding with their creative and professional skills. </div>
            </div>
            <div class="responsive">
            <img src="https://images.adsttc.com/media/images/5f2c/8545/b357/65db/c000/008c/large_jpg/FEAT_ID.jpg?1596753213" alt="Nature" class="res">
          </div>
          

         

<!-- 3rd span -->
          <div id="ex3">
            <div class="row">
              <div class="column" style="background-color:rgba(170, 170, 170, 0);">
                <img src="image/rahul.png" alt="Nature" class="responsive">
              
              
              </div>
              <div class="column" style="background-color:rgba(187, 187, 187, 0);">
                <h2 >OUR INFRASTRUCTURE</h2>
                <div class="example">We have skilled and experienced workmen who have years of experience in the same field and are capable to 
                  provide you with all the projects within a time period. They are equipped with modern tools which adds great value to the work.   </div>
              </div>
            </div>
          </div>
          

          <!-- 4th span -->
          
          
          <!-- <div class="div_exp2" id="div2">
            
            
             </div> -->
             <div class="div_exp2" id="div2">
              <div class="example">Here at Gold Space Interior we pursue finesse so our clients don’t have to, our premier architects work tirelessly 
                to find the best design that fit well with the home that you had always dreamed about. </div>
            <br>
              <div class="example">Through the use of modern technology we are assuring you excellent workmanship from start to completion of the project.</div>
           
           </div>
           <img src="image/new1.jpg" alt="Nature" class="res" >
           </div>
         


           
           <!-- <div class="example">Example DIV.</div> -->
<br>
        <!-- footer -->
        <div class="footer">
          <div class="inner-footer">
        
        <!--  for company name and description -->
            <!-- <div class="footer-items">
              <h1>Company Name</h1>
              <p>Description of any product or motto of the company.</p>
            </div> -->
        
        <!--  for quick links  -->
            <div class="footer-items">
              <h3>Quick Links</h3>
              <div class="border1"></div> <!--for the underline -->
                <ul>
                  <a href="/"><li>Home</li></a>
              <a href="/services"><li>Service</li></a>
              <a href="/Ourworks"><li>Our Works</li></a>
            </ul>
          </div>
      
      <!--  for some other links -->
          <div class="footer-items">
            <h6>Details</h6>
              <div class="border1"></div>  <!--for the underline -->
                <ul>
                  <a href="Contactus"><li>Contact Us</li></a>
                  <a href="/About"><li>About</li></a>
                </ul>
            </div>
        
        <!--  for contact us info -->
            <div class="footer-items">
              <h3>Contact us</h3>
              <div class="border1"></div>
                <ul>
                  <li><i class="fa fa-map-marker" aria-hidden="true"></i>Shivpur Bypass Road, Varanasi,Uttar Pradesh</li>
                  <li><i class="fa fa-phone" aria-hidden="true"></i>+91 8736947304</li>
                  <li><i class="fa fa-envelope" aria-hidden="true"></i>mohit6151@gmail.com</li>
                </ul> 
              
        <!--   for social links -->
                <div class="social-media">
                  <a href="#"><i class="fa fa-facebook-f"></i></a>
                  <a href="#"><i class="fa fa-instagram"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </div> 
            </div>
          </div>
          
        <!--   Footer Bottom start  -->
          <div class="footer-bottom">
            © 2021 Designed & Developed by <a href="https://www.bluewebsurfer.com">Blueweb Surfer</a> . All rights reserved.
          </div>
        </div>



</body>


<script src="js/home.js"></script>
</html>