<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/ourworks.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=Merienda&display=swap" rel="stylesheet">
   
</head>
<body>
    


    <!-- nav -->
    <div class="container">
          
      <!-- <img class="parent-img" src="https://blog.woodenstreet.com/images/data/image_upload/1579326941Banner%20Image.jpg" alt="Snow"> -->
    
        <img src="https://interiorsquadbd.com/wp-content/uploads/2020/11/interior-designer-pune-banner.jpg" alt="Nature" class="respon" width="600" height="400">
      <div class="centered"><h1>Gold Space Interior</h1></div>
        <div class="bottom-right">
          <div class="topnavigation" id="myTopnav">
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                  <i class="fa fa-bars"></i>
            </a>
            <a href="/">Home</a>
          <a href="/services">Service</a>
          <a href="/Ourworks">Our Works</a>
          
          <a href="/About">About Us</a>
          <a href="/Contactus">Contact Us</a>
                 
          </div>
        </div> 
      </div>



      <!-- body -->


      <h2>How WE Work</h2>
      <div class="row">
        <div class="column">
          <div class="card">
            <img src="image/1111.gif" alt="Nature" class="responsive" width="600" height="400">
            <button class="button1"><a href="Contactus.html">We make the concept clear</a></button>
            
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="image/111.gif" alt="Nature" class="responsive" width="600" height="400">
            <button class="button1"><a href="Contactus.html">Designing phase</a></button>
            
           
          </div>
        </div>
        
        <div class="column">
          <div class="card">
            <img src="image/333.gif" alt="Nature" class="responsive" width="600" height="400">
            <button class="button1"><a href="Contactus.html">Agreeing with the design</a></button>
          </div>
        </div>
        
        <div class="column">
          <div class="card">
            <img src="image/444.gif" alt="Nature" class="responsive" width="600" height="400">
            <button class="button1"><a href="Contactus.html">Execution of the Project</a></button>
          </div>
        </div>
      </div>
    



      
      
      
      
      <div class="footer">
          <div class="inner-footer">
        
        <!--  for company name and description -->
            <!-- <div class="footer-items">
              <h1>Company Name</h1>
              <p>Description of any product or motto of the company.</p>
            </div> -->
        
        <!--  for quick links  -->
            <div class="footer-items">
              <h6>Quick Links</h6>
              <div class="border1"></div> <!--for the underline -->
              <ul>
                <a href="/"><li>Home</li></a>
              <a href="/services"><li>Service</li></a>
              <a href="/Ourworks"><li>Our Works</li></a>
            </ul>
          </div>
      
      <!--  for some other links -->
          <div class="footer-items">
            <h6>Details</h6>
              <div class="border1"></div>  <!--for the underline -->
                <ul>
                  <a href="Contactus"><li>Contact Us</li></a>
                  <a href="/About"><li>About</li></a>
                </ul>
            </div>
        
        <!--  for contact us info -->
            <div class="footer-items">
              <h6>Contact us</h6>
              <div class="border1"></div>
                <ul>
                  <li><i class="fa fa-map-marker" aria-hidden="true"></i>Shivpur Bypass Road, Varanasi,Uttar Pradesh</li>
                  <li><i class="fa fa-phone" aria-hidden="true"></i>+91 8736947304</li>
                  <li><i class="fa fa-envelope" aria-hidden="true"></i>mohit6151@gmail.com</li>
                </ul> 
              
        <!--   for social links -->
                <div class="social-media">
                  <a href="#"><i class="fa fa-facebook-f"></i></a>
                  <a href="#"><i class="fa fa-instagram"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </div> 
            </div>
          </div>
          
        <!--   Footer Bottom start  -->
          <div class="footer-bottom">
            © 2021 Designed & Developed by <a href="https://www.bluewebsurfer.com">Blueweb Surfer</a> . All rights reserved.
          </div>
        </div>
      </body>
      <script src="js/home.js"></script>

</body>
</html>