<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/services.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Merienda&display=swap" rel="stylesheet">

    <title>Document</title>
</head>
<body>
    



  <div class="container">
          
    <!-- <img class="parent-img" src="https://blog.woodenstreet.com/images/data/image_upload/1579326941Banner%20Image.jpg" alt="Snow"> -->
  
      <img src="https://interiorsquadbd.com/wp-content/uploads/2020/11/interior-designer-pune-banner.jpg" alt="Nature" class="respon" width="600" height="400">
    <div class="centered"><h1>Gold Space Interior</h1></div>
      <div class="bottom-right">
        <div class="topnavigation" id="myTopnav">
          <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
          </a>
          
          <a href="/">Home</a>
          <a href="/services">Service</a>
          <a href="/Ourworks">Our Works</a>
          
          <a href="/About">About Us</a>
          <a href="/Contactus">Contact Us</a>
               
        </div>
      </div> 
    </div>
 


      <!-- body -->

      <h2>Our Services</h2>

      <div class="clearfix">
        <a href="/Residentialdesigning">
          <img class="img2" src="https://png.pngitem.com/pimgs/s/8-86176_gold-mood-board-from-sea-interior-design-mood.png" alt="Pineapple" width="170" height="170">
        </a>
        <h3>
          <p><b><a href="/Residentialdesigning" target="_blank">Residential Designing</a></b></p>
        </h3>
        <p>Your home reflects your true personality and lifestyle. Home is the only place where you can embrace yourself and have downtime.
           So hiring experienced Interior Designers will help not only plan out your concept but also makes your dream reality. 
           When given the responsibility to design your home we understand your needs and wants. Keeping that in our mind we engage with 
           clients throughout the process of the project and make sure every detail is taken care of.
        </p>
      </div>
      <br>
      <div class="clearfix">

        <a href="/Office">
          <img class="img2" src="https://cdn.wallpaper.com/main/2020/04/interior_landscape_image.gif" alt="Pineapple" width="170" height="170">
        </a>
        <h3>
          <a href="/Office">Office Designing</a>
        </h3>
        <p>Interior Designing has become so much important in all the sectors  be it your home or your working place.  
          It is highly in demand in the corporate world nowadays for both employees as well as customers. People are spending more 
          time at work than usually at homes, therefore it is very important to create a working space that is comfortable, attractive,
           peaceful and purposeful, and this not only gives them the feeling but also helps them to work efficiently.
        </p>
      </div>
      <br>
      <div class="clearfix">
        <a href="/Homedecor">
          <img class="img2" src="https://santaluminteriors.com/image/front/about11.gif" alt="Pineapple" width="170" height="170">
        </a>
        <h3>
          <a href="/Homedecor">Home Decor </a>
        </h3>
        <p>The decoration and look plays the vital role in reflecting the moods of a place. 
          A good looking house is good for getting rid of bad moods and stress. It reflects the personality of who you are. 
          So by hiring the Interior Designers not only helps you decorate your home but also helps to utilize every corner of your house which is
           lying lifelessly. If you have a plan on your mind but not sure where to begin, we are here to help you with our experienced and skilled
            workmen. 
        </p>
      </div>
      <br>
      <div class="clearfix">
        <a href="/Homerenovation">
          <img class="img2" src="https://lh3.googleusercontent.com/proxy/4KHodPLtbxj3qulRRNrD3I29qFRx5vzjD2USxyW7YHFwd-qGku3VpKw9W6f8gsxMyR2ON6suwk2zwivYNfLZ5vcxIYdrEd-TRxtJDHX4XsGtcOMY2KJs9ug7dFCibI983R_f" alt="Pineapple" width="170" height="170">
        </a>
        <h3>
          <a href="/Homerenovation">Home Renovation </a>
        </h3>
        <p>After living so many years at your home there is no way the things will remain the same, it is most likely that some parts are
           broken and need renovation. Renovation includes improving, decorating, extending and redesigning your home and making it more lovely 
           and comfortable to live in than before. It seems a simple process but it really isn't, working together with interior designers will
            reduce your problems and add value to your home, improve its appearance, get more sense of satisfaction and also improve your lifestyle.
        </p>
      </div>
      <br>
      <div class="clearfix">
        <a href="/commercial">
          <img class="img2" src="https://www.lushome.com/wp-content/uploads/2013/10/corner-home-office-designs-furniture-placement-6.jpg" alt="Pineapple" width="170" height="170">
        </a>
        <h3>
          <a href="/commercial">Commercial Designing</a>
        </h3> 
        <p>Gone are the days when houses had concrete slab or solid wooden ceiling. Today the false ceiling has become the prominent symbol 
          of the modern world. It’s not only the part of decoration but it serves various other functions. It modifies the overall look of your ceiling.
          al with various false ceiling designs such as POP (Plaster of Paris), Gypsum board partition, PVC false ceiling, Metal false ceiling and Electrical
           wiring and painting work. 
        </p>
      </div>





    <!-- footer -->
    <div class="footer">
        <div class="inner-footer">
      
    
      
      <!--  for quick links  -->
          <div class="footer-items">
            <h3>Quick Links</h3>
            <div class="border1"></div> <!--for the underline -->
              <ul>
                <a href="/"><li>Home</li></a>
                <a href="/services"><li>Service</li></a>
                <a href="Ourworks.html"><li>Our Works</li></a>
              </ul>
          </div>
      
      <!--  for some other links -->
          <div class="footer-items">
            <h3>Details</h3>
              <div class="border1"></div>  <!--for the underline -->
                <ul>
                  <a href="/Contactus"><li>Contact Us</li></a>
                  <a href="/About"><li>About</li></a>
                </ul>
          </div>
      
      <!--  for contact us info -->
          <div class="footer-items">
            <h3>Contact us</h3>
            <div class="border1"></div>
              <ul>
                <li><i class="fa fa-map-marker" aria-hidden="true"></i>Shivpur Bypass Road, Varanasi,Uttar Pradesh</li>
                  <li><i class="fa fa-phone" aria-hidden="true"></i>+91 8736947304</li>
                  <li><i class="fa fa-envelope" aria-hidden="true"></i>mohit6151@gmail.com</li>
              </ul> 
            
      <!--   for social links -->
              <div class="social-media">
                <a href="#"><i class="fa fa-facebook-f"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </div> 
          </div>
        </div>
        
      <!--   Footer Bottom start  -->
        <div class="footer-bottom">
          © 2021 Designed & Developed by <a href="https://www.bluewebsurfer.com">Blueweb Surfer</a> . All rights reserved.
        </div>
      </div>
</body>

<script src="js/home.js"></script>
</html>