/* SLIDER */
.slider {
  width: 100%;
  height: 80vh;
  margin: 0 auto;
  position: relative;

  /* IN THE END */
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  /* THIS creates the animation! */
  transition: transform 1s;
}


.slide>img {
  /* Only for images that have different size than slide */
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__btn {
  // Hiding (if necessary)
  display: none;
  position: absolute;
  top: 50%;
  z-index: 10;

  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
}

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: transparent;
  border: 2px solid $color-white;
  opacity: 0.7;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;

  /* Only necessary when overlying images */
  /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  /* background-color: #fff; */
  background-color: $color-white;
  opacity: 1;
}


// TESTIMONIAL
.testimonial {
  position: absolute;
  height: 50%;
  width: 80%;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba($color-white, .67);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 2.5rem;

  @include respond(phone) {
    width: 60%;
  }
}